{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "jest/globals": true
    },
    "extends": [
        "eslint:recommended",
        "prettier/@typescript-eslint",
        "plugin:jest/recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended"
    ],
    "plugins": [
        "jest",
        "prettier",
        "jsx-a11y",
        "simple-import-sort",
        "@typescript-eslint/eslint-plugin"
    ],

    "rules": {
        "no-console": ["error"],
        "react/prop-types": 0,
        "@typescript-eslint/default-param-last": ["error"],
        "simple-import-sort/imports": [
            "error",
            {
                "groups": [
                    // Packages.
                    // Things that start with a letter (or digit or underscore), or `@` followed by a letter.
                    ["^@?\\w"],
                    // Absolute imports and other imports such as Vue-style `@/foo`.
                    // Anything that does not start with a dot.
                    ["^[^.]"],
                    // Side effect imports.
                    ["^\\u0000"],
                    // Relative imports.
                    // Anything that starts with a dot.
                    ["^\\."]
                ]
            }
        ],
        "no-unused-vars": [
            "error",
            {
                "vars": "local",
                "varsIgnorePattern": ""
            }
        ],
        "jsx-a11y/no-autofocus": 2
    },
    "overrides": [
        {
            "files": ["*.js"],
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        },
        {
            "files": ["*.mdx"],
            "extends": ["plugin:mdx/recommended", "plugin:mdx/overrides"],
            "rules": {
                "@typescript-eslint/explicit-module-boundary-types": "off"
            }
        }
    ]
}
