import {Button} from "@adobe/react-spectrum";
import React, { FC } from "react";

interface Props {
text?: string;
disabled?: boolean;
onClick?: VoidFunction;
}

const {{name}}: FC<Props> = ({
    onClick,
    text = "Welcome to Adobe Spectrum !",
    disabled = false,
    }) => {
    return (
    <div onClick={onClick}>
        <Button variant="cta" disabled={disabled}>
            {text}
        </Button>
    </div>
    );
    };
    export default {{name}};